@import "./common/mixins";

.footer {
  color: #7A7A7A;
  font-size: 14px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #D1D1D1;
  padding: 1rem;
  @include for-tablet-landscape-up {
    flex-direction: column;
    align-items: center;
  }
}

.copy {
  @include for-tablet-landscape-up {
    order: 1;
  }
}

.nav {
  display: flex;
  @include for-tablet-landscape-up {
    flex-direction: column;
    align-items: center;
  }
}

.nav .link:not(:last-of-type) {
  margin-right: 32px;
  @include for-tablet-landscape-up {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.link:hover {
  color: #161616;
}

.footer__socials {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  @include for-tablet-landscape-up {
    margin: 1.5rem 0;
  }
}

.socials {
  &__item:not(:last-of-type) {
    margin-right: 13px;

  }
  &_fill {
    fill: #7A7A7A;
  }
  &_fill:hover {
    fill: #161616;
  }
}


